:host {
  display: block;
}

// css animation

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
  @apply bg-secondary to-primary;
}
.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
  @apply bg-secondary to-primary;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
  @apply bg-secondary to-primary;
}

@keyframes dot-flashing {
  0% {
    @apply bg-primary;
  }
  50%,
  100% {
    @apply bg-clean;
  }
}

border-thin {
  border: 2px solid #f0ece5
}